@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] { display: none; }

nav a {
    position: relative;
    transition: color 0.2s ease;
}

nav a::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #3b82f6; /* Bleu Tailwind */
    transition: width 0.3s ease;
}

nav a:hover::after {
    width: 100%;
}

nav a[aria-current="page"]::after {
    width: 100%;
}
